{% extends "base.html" %}

{% block content %}
    <h1>Riddle Detail</h1>


    <p><b>Question:</b> {{ riddle.question }}</p>
    <p>Likes:{{ riddle.likes }}</p>

    <!-- 💻 Add the Difficulty for the specific riddle -->

   <a href="{% url 'riddle-guess' pk=riddle.id %}">Guess</a>
            


    <form action="{% url 'riddle-like' object.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="riddle-id" value="{{object.id}}" >Like</button>
        </form>



   
   

{% endblock %}
