{% extends "base.html" %}

{% block content %}
    <h1>Guess Riddle</h1>

    <p><b>Question: </b>{{ riddle }}</p>

    {% if has_message %}    
        <p><b>Correct: </b>{{message}}</p>

        <button class="btn shadow-none"><a href="{% url 'riddle-guess' pk=riddle.id %}">Guess Again</a></button>


    {% else %}

        <form method="post"  >
            {%csrf_token %}
            
            {% for field in form %}
                    <div class="pb-3">

            {% if field.name == 'completed'  %}
                    <label for="{{field.label}}">{{ field.label_tag }}</label>
                    {{field}}
            
                {% if field.errors %}
                    <small class="error">{{ field.errors|striptags  }}</small> 
                {% endif %}

            {% else %}
                    <label for="{{field.label}}">{{ field.label_tag }}</label>
                    {{field}}
                
                {% if field.errors %}
                    <small class="error">{{ field.errors|striptags  }}</small> 
                {% endif %}
            {% endif %}

            </div>
        
        {% endfor %}
       
        <div class="form-buttons">
            <input type="submit" value="Guess" class="btn"/>
        </div>
       
        </form>
    
    {% endif %}
{% endblock %}
