{% extends "base.html" %}

{% block content %}
    <h1>Riddle Detail</h1>


    <p><b>Question:</b> {{ riddle.question }}</p>
    <p><b>Likes:</b> {{ riddle.likes }}</p>

   
    <a href="{% url 'riddle-guess' pk=riddle.id %}"><button class="btn btn-info">Guess</button></a>


    <form action="{% url 'riddle-like' object.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" name="riddle-id" value="{{object.id}}" class="btn btn-info">Like</button>
    </form>
   

{% endblock %}
