@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Zilla+Slab:wght@400;600&display=swap');


/* 
💻 assign variables for easy color theming 
    - to use the variable as a value: var(--color1)
*/
:root {
    --color1: rgb(30, 30, 92);
    --color2: rgb(241, 195, 215);
    --color3: rgb(255, 253, 251);
    --primary-font: 'Open Sans', sans-serif;
    --secondary-font: 'Zilla Slab', sans;

}

/* 
💻 Customize and add CSS to make the site beautiful! 
    - Be sure to look at Bootstrap documentation. 
    - Add specific bootstrap classes to existing HTML tags 
*/
  
body{
    background-color: var(--color3);
    font-family: var(--primary-font);
}

p{
    font-size: 2em;
    font-weight: 300;
    color: var(--color1);
    font-family: var(--primary-font)
}

h1{
    font-family: var(--secondary-font);
}




/* 
💻 experiment with changing your layout for mobile
    - add custom styles for different screen sizes 
*/


 @media (max-width: 769px) { 

    .row{
        display: inline-block;
    }

    body{
        margin-top: 0px;
        width: 100%;
    }
 }


 