@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Zilla+Slab:wght@400;600&display=swap');

:root {
    --primary-color: rgb(105, 80, 65);
    --secondary-color: rgb(165, 121, 94);

}
  

p{
    font-size: 2em;
    font-weight: 300;
}

h1{
    font-family: 'Zilla Slab';
    font-weight: 600;
    font-size: 4em;
    line-height: 1.5em;
    display: inline;
    background: var(--primary-color);
    color: #ffffff;

}

body{
    background-color: rgb(249, 240, 231);
    color: rgb(26, 26, 26);
    font-family: 'Open Sans', sans-serif;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.navigation{
    margin-top: 100px;
}

.navigation a{
    text-decoration: none;
    font-size: 1.2em;
    color: rgb(105, 80, 65);
}

.navigation a:hover{
    color: rgb(165, 121, 94);
}

.navigation li{
    margin-bottom: 10px;
    list-style: none;
}

.list{
    font-size: 1.5em;
    font-weight: 300;
}

.btn{
    background-color:rgb(165, 121, 94);
    color: rgb(246, 243, 235);
    display: inline;
}

.btn:hover{
    background-color:rgb(113, 81, 61);
    color: rgb(246, 243, 235);

}

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}

a{
    color: var(--primary-color);
}

a:hover{
    color:var(--secondary-color);
}


/* for mobile */

@media (max-width: 992px) { 
    .container, .row{
        display: inline-block;
    }

    .navigation li{
        display: inline-block;

    }

    body{
        margin-left: 50px;
        width: 100%
        /* margin-right: 50px; */
    }
 }


 